#header{
  background-color: #379EC1;
}

#card-body{
  color: #fff;
  background-color: #659224;
}

#mainNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #000000;
  font-family: Roboto, sans-serif;
  font-weight: 700;
}
#mainNav .navbar-brand {
  color: #fff;
}
#mainNav .navbar-nav li.nav-item a.nav-link {
  color: #fff;
}
#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: #659224;
}
#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.8rem;
}

.client {
  padding-top: calc(6rem + 74px);
  padding-bottom: 6rem;
}
.client .client-heading {
  font-size: 2.75rem;
  line-height: 2.75rem;
}
.client .client-subheading {
  font-size: 1.25rem;
}
.client .client-avatar {
  width: 15rem;
}

.copyright {
  background-color: #000000;
}